/*General settings - fonts, overall page background, etc*/
body {
    font:normal 90%/160% "Minion Pro","Times New Roman",Times,serif;
    margin:10px 0 0 0;
    padding:0;
    color:#333;
}
html {
    margin: 0;
    padding: 0;
}
h2, h3, h4 {
    font-family:Helvetica, Arial, sans-serif;
    font-weight:bold;
    margin:10px 0;
}
h2 {
    font-size: 125%;
}
h3 {
    font-size:100%;
    color:#3C6EB6;
}
h4 {
    font-size:100%;
    margin:5px 0 0 0;
    color:#666;
}
h2 + p, h3 + p, h4 +p, h3 + div p, ul li:first-child  h3 {
    margin-top:0;
}
strong, b {
    font-weight:bold;
}
input[type="text"]:focus, textarea:focus {
    border:2px solid #f93;
    outline:none;
}

/*Link styles*/
a:link, a:active, a:visited {
    text-decoration:underline;
    color:#3C6EB6;
}
a:hover {
    text-decoration: none;
    color:#fff;
    background-color:#3C6EB6;
}
button.specialbutton, a.abutton.specialbutton, input[type="submit"].specialbutton, input[type="button"].specialbutton, ul.buttonlist li a.specialbutton {
    background:#f93 url(../img/special_bg.gif) repeat-x 0 0;
}
button.specialbutton, a.abutton.specialbutton:hover, input[type="submit"].specialbutton:hover, input[type="button"].specialbutton:hover, ul.buttonlist li a.specialbutton:hover {
    background:#c60;
}
button.specialbutton {
    font:normal 12px/15px Helvetica, Arial, sans-serif;
    color: #fff;
    display:inline-block;    
    padding:5px 15px;
    text-decoration:none;
    height:28px;
}

div.mainbody {
    height:auto;
}

/*Container for editor*/
div.editor {
    border: 1px solid #999;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
    clear: both;
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
    border: 1px solid #999;
    padding:8px 10px;
    margin-bottom: 0px;
    /* overflow:hidden; */
    zoom:1;
}

div.blockwrap div.block {
    margin-top:10px;
}

div.block h3 {
    color: #666;
    margin:0;
}
div.block h4 {
    color: #333;
    margin:0;
}

/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
    border: 1px solid #999;
    border-top:none;
    background-color: #eee;
    margin:0 0 10px 0;
}
div.item div.blockitems, div.item div.blockitems div.blockitems div.blockitems {
    margin-bottom:0;
}

/*Second level default block container*/
div.blockitems div.block {
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
    border: 1px solid #999;
}

/*Second level default block item container */
div.blockitems div.blockitems {
    border: 1px solid #999;
    border-top:none;
    background-color: #F9F9F9;
}

/*Container for course items*/
div.item {
    clear: both;
    padding:0 0 10px 0;
    margin:15px 0 15px 0;
    border-bottom:1px solid #999;
}
div.item:last-child {
    
}
select.mvsel {
    margin-bottom:5px;
}

/*toggles for instronly items inside item wrappers */
div.activewrapper span.instronly {
    visibility: visible;
}
div.inactivewrapper span.instronly {
    visibility: hidden;
}
.instrdates, .instronly {
    font:85% normal Helvetica, Arial, sans-serif;
}
.instrdates a, .instronly a {
    color:#3C6EB6;
}
.instrdates a:hover, .instronly a:hover {
    background-color:#3C6EB6;
    color:#fff;
}
div.block .instronly {
    
}

/*Icons*/
div.icon {
    color:#00d;    
    border: 1px solid #00f;
    font-weight: bolder;
}

/*Control panels*/
div.cpmid, div.cp {
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
    border: 1px solid #999;
    font-family:Helvetica, Arial, sans-serif;
    padding:5px 5px 5px 10px;
}
div.cpmid form, div.cp form {
    margin-bottom:10px;
}
div.cpmid form#qform, div.cp form#qform {
    padding:0;
    border:none;
}
div.cpmid form:last-child, div.cp form:last-child {
    margin-bottom:0;
}
div.cpmid br, div.cp br {
    margin-bottom:15px;
}
div.cpmid select {
    margin-right:10px;
    width:100px;
}
div.cpmid ul.buttonlist, div.cp ul.buttonlist {
    margin:0 5px 0 0;
}
div.cpmid a.abutton, div.cpmid input[type="button"], div.cpmid input[type="submit"],
div.cp a.abutton, div.cp input[type="button"], div.cp input[type="submit"] {
    margin:0 5px 0 0;
}
div.cpmid ul.buttonlist input[type="button"], div.cpmid ul.buttonlist input[type="submit"],
div.cp ul.buttonlist input[type="button"], ul.buttonlist div.cp input[type="submit"] {
    margin:0;
}

/*Tables */
table {
    border-collapse:collapse;
}
table thead th {
    font-weight:bold;
    cursor:pointer;
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
    font-family:Helvetica, Arial, sans-serif;
}
table thead {
    border:1px solid #999;
}
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
    border:none;
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
}
table.gb thead th {
    position:static;
}
tr.even {
    background-color: #fff;    
}
tr.odd {
    background-color: #eee;
}
tr.bordered td {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
tr.highlight {
    background-color: #EAF2F5;
}
tr.grid td {
    border: 1px solid #999;
}
tr.dbltop td {
    border-top: 3px double #999;
}
table.gbl td.locked, table.gbl th.locked {
    border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
    background: #eef;
}
table.gb .cat0 {
    background: #ddf;
}
table.gb .cat1 {
    background: #dfd;
}
table.gb .cat2 {
    background: #fdd;
}
table.gb .cat3 {
    background: #dff;
}
table.gb .cat4 {
    background: #ffd;
}
table.gb .cat5 {
    background: #fdf;
}
table.gb .cat6 {
    background: #aaf;
}
table.gb .cat7 {
    background: #afa;
}
table.gb .cat8 {
    background: #faa;
}
table.gb .cat9 {
    background: #aff;
}
.cattothdr {
    font-variant: small-caps
}
table.cal thead th {
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
    font-family:Helvetica, Arial, sans-serif;
    border:1px solid #999;
}
table.cal td {
    cursor: pointer;
    border:1px solid #999;
    background-color:#fff;
}
table.cal td.today {
    background-color:#fc9;
}
table.cal td.selectedcalday {
    background-color:#ccc;
}
span.day {
    background-color: transparent;
}
span.calitem {
    background-color:#6E9FE8;
    color:#000000;
    font-family: Helvetica, Arial, sans-serif;
}
div#caleventslist div.eventday {
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
    border:1px solid #999;
    padding:0 10px;
    font-family: Helvetica, Arial, sans-serif;
}

/*Fake look of links for Javascript onclicks*/
span.link {
    text-decoration: underline;
    color: #00f;
    cursor: pointer;
}

/*Containers for instructor leftbar, main content*/
#leftcontent {
    position: absolute;
    left: 0px;
    top: 33px;
    background: #fff;
    color:#333;
    margin: 0px;
    width: 200px;
    padding: 0px;
}
#leftcontent div {
    border: 1px solid #999;
    margin-bottom: 10px;
    padding:0;
    line-height: 20px;
}
#leftcontent h3 {
    font-weight:bold;
    display: block;
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
    color: #666;
    height: 20px;
    padding: 8px 10px;
    font-size: 100%;
    margin: 0;
    border-bottom:1px solid #999;
}
ul.courselist {
    margin: 0;
}
ul.courselist li {
    padding:5px 10px;
}
ul.courselist li:last-child {
    margin-bottom:0;
}
#leftcontent ul {
    list-style-type:none;
    padding:0;
    margin:0;
}
#leftcontent li {
    display:block;
    border-bottom:1px solid #999;
    padding:5px 10px;
}
#leftcontent li:last-child {
    border-bottom:none;
}
div#leftcolumn {
    width:200px;
}
div#leftcolumn div.blockitems {
    padding: 0;
}
div#leftcolumn .center {
    padding:10px 0;
}
div#leftcolumn a.abutton {
    min-width:100px;
margin:0;
}
div#rightcolumn {
    width:790px;
}
div#rightcolumn div.blockitems, div#leftcolumn div.blockitems {
    background-color:#fff;
}
#centercontent {
    background:#fff;
    margin:10px 0 0 210px;
    padding:0 10px 10px 10px;
    border:1px solid #999;
    /* overflow:hidden; */
    zoom:1;
}
#fullcontent {
    border:1px solid #999;
    padding:10px;
}
#headerhome h2 {
    border:1px solid #999;
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
    padding:8px 10px;
    font-size:100%;
    color:#666;
}
#headerlogo {
    right: 0px;
    top: 0px;
    width: 120px;
}
#headerlogo img {
    visibility: hidden;
}
span.padright {
    padding-right: 10px;
}
.headerwrapper {
    border: 0px;    
    width: 1000px;
    margin: auto;
}
.headerwrapper h1 {
    margin: 0;
    padding: 30px 20px 0px;
    color:#AE131E;
    font-weight: normal;
}
div#headercontent, div#navlistcont {
    width: 1000px;
    margin: auto;
}
div#headercontent {
    height: 70px;
    background:url(/images/bluestripes_header.png) repeat-x scroll center top;
    margin-bottom: 15px;
}
div#headerbarlogo {
    margin:15px 0 0 20px;
    width:240px;
    height:40px;
    display:block;
}
div#headerbarlogo:hover {
    cursor:pointer;
}
.footerwrapper {
    margin:10px auto 30px auto;
    width:1000px;
    background:#333 url(/images/bluestripes_footer.png) repeat-x scroll center top;
    border: 1px solid #999;
    color: #fff;
    clear: both;
}
.footerwrapper p {
    text-align:center;
    font:normal 75%/200% Helvetica,Arial,sans-serif;
    color: #fff;
}
.footerwrapper a {
    color: #f93;
}
.footerwrapper a:hover {
    color: #fff;
    background-color: #f93;
}
div.breadcrumb {
    border: 0;
    background: #3C6EB6;
    border:none;
    font:normal 90% Helvetica,Arial,sans-serif;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px 10px;
    width:982px;
}
div#centercontent div.breadcrumb {
    margin-left: -10px;
}
div.breadcrumb a {
    background-color: #3C6EB6;
    color: #fff;
}
div.breadcrumb a:hover {
    background-color: #fff;
    color:#3C6EB6;
}
.midwrapper {
    position: relative;
    margin:auto;
    width:1000px;
}
div.ddmenu {
    padding: 5px;
    background: #efe;
}

/*colors and borders for assessments*/
/*seq question css*/
div#headershowtest {
    border: 1px solid #999;
    margin: 10px 0;
    background:#fff url(../xyz/grey_gradient.gif) repeat-x scroll left top;
    padding: 10px;
}
div#headershowtest h2 {
    font-size: 120%;
    margin: 0px;
    color: #666;
}
form#qform {
    padding:10px;
    border:1px solid #999;
}
form#qform.formwcp {
    padding:0;
    border:none;
}
div.curquestion {
    border:1px solid #999;
    border-top:none;
    padding-left:20px;
    margin-bottom:10px;
}
div.curquestion div.question {
    border:none;
}
div.curquestion input[type="submit"] {
    margin-bottom:10px;
    margin-left:5px;
}
div.inactive {
    color:#999;
    border: 1px solid #bbd;
}

div.prequestion {
    border: 1px solid #bbd;
}

div.seqqinfocur, div.seqqinfoavail, div.seqqinfoinactive {
    font-family: Helvetica,Arial,sans-serif;
    text-transform:uppercase;
}
div.seqqinfocur a, div.seqqinfoavail a {
    color:#3C6EB6
}
div.seqqinfocur a:hover, div.seqqinfoavail a:hover {
    background-color:#3C6EB6;
    color:#fff;
}
div.seqqinfocur {
    border:1px solid #999;
    border-bottom:none;
    padding:10px 0 0 10px;
}
div.seqqinfocur span.current{
    background:none;
    font-weight:bold;
}
div.seqqinfoavail, div.seqqinfoinactive {
    border-top:1px solid #999;
    padding-top:10px;
}
div.seqqinfoinactive {
    color:#999;
}
div.seqqinfoinactive a {
    color:#999;
    cursor:default;
}
div.seqqinfoinactive a:hover {
    color:#999;
    background:none;
}
div.todoquestion {
    background:none; 
    border: 0px; 
    padding-left:20px;
}
/*all questions*/
div.question {
    background-color: #fff;; 
    border: 1px solid #999;
    width: auto;
    margin:0;
}
div.inset {
    margin: 0px;
    float:left;
    width:768px;
}
div.review { /*info bar*/
    margin-top: -6px;
    background-color: #ccc !important;
    border: 1px solid #3C6EB6;
    color: #000 !important;
    width: auto;
    padding: 10px;
}
div.review p:first-child {
    margin-top:0;
}
div.review p:last-child {
    margin-bottom:0;
}
div.review a {
    color: #fff;
}
.scorebarholder {
    background-color:#fff;
}
div.intro {
    border: 1px solid #999;
    background-color: #fff;
    padding:10px;
}
div.intro p:first-child {
    margin-top:0;
}
div.intro p:last-child {
    margin-bottom:0;
}
div.navbar {
    position: relative;
    float: left;
    left: 0px;
    background:#fff;
    border: 1px solid #999;
    color:#333;
    width:200px;
    margin-right:10px;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
}
div.navbar h4 {
    display: block;
    margin:0;
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll left top;
    padding: 10px;
    color: #666;
    border-bottom:1px solid #999;
}
div.navbar p {
    padding: 0 10px;
}
div.navbar a {
    color:#fff;
}
ul.qlist {
    padding:10px;
}
ul.qlist li {
    margin:0;
    border-bottom:1px solid #999;
}
ul.qlist a {
    color: #3C6EB6;
    text-decoration:none;
}
ul.qlist a:hover {
    background-color: #3C6EB6;
    color:#fff;
}
span.current {
    background:none;
    font-weight:bold;
}
span.done {
    text-decoration: line-through;
}
ul#navlist {
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll 0 top;
    font:bold 100% Helvetica,Arial,sans-serif;
    padding: 0px;
    border:1px solid #999;
    border-bottom:none;
    width:1000px;
}
ul#navlist li {
    padding:10px 10px 0 10px;
    line-height:1;
    border-right:1px solid #999;
    display:block;
    float:left;
}
ul#navlist li a {
    color:#666;
    padding: 10px 10px 0 10px;
    background-color: transparent;
    font-weight: bold;
    height:30px;
    border:none;
}
ul#navlist li a.activetab {
    -moz-border-radius-topright:10px;
    -moz-border-radius-topleft:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-top-left-radius:10px;
    background-color: #3C6EB6;
    color: #fff;
}
ul#navlist li a.activetab:hover {
    background-color: #3C6EB6;
    color:#fff;
}
ul#navlist li a:hover {
    color: #fff;
    background: #999;
    -moz-border-radius-topright:10px;
    -moz-border-radius-topleft:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-top-left-radius:10px;
}
div#navlistwrapper {
    margin:auto;
    width:1000px;
}
div.additembox {
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll left top;
    margin-bottom:5px;
    padding:5px 0;
    font-family:Helvetica, Arial, sans-serif;
    border:1px solid #999;
}
div.blockitems div.additembox {
    background:#ccc;
}
div.additembox a {
    display:inline-block;
    margin-right:15px;
    color:#3C6EB6;
}
div.additembox a:hover {
    background:none;
    color:#333;
}
div.additembox span {
    background:none;
}
div#topadditem {
}
div#topadditem span {
}
a.abutton, span.spanbutton, span.spanbutton:active {
    border: 0;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    min-width:0;
    margin:5px 5px 5px 0;
}
a.abutton, span.spanbutton, span.spanbutton:active, div#viewbuttoncont a, ul.buttonlist li a {
    font:normal 12px/15px Helvetica, Arial, sans-serif;
    color: #fff;
    display:inline-block;    
    padding:5px 15px;
    text-decoration:none;
    height:14px;
}
div#viewbuttoncont a, ul.buttonlist li a {
    margin:5px 0;
}
a.abutton, div#viewbuttoncont a.buttoninactive, ul.buttonlist li a  {
    background-color: #999;
}
a.abutton:hover, div#viewbuttoncont a.buttoninactive:hover, ul.buttonlist li a:hover {
    background-color: #666;
}
span.spanbutton {
    background:#f93 url(../img/special_bg.gif) repeat-x 0 0;
}
span.spanbutton:hover, span.spanbutton:active {
    background-color: #c60;
}
.tips span.spanbutton {
    background-color:#09c;
    background-image:none;
}
.tips span.spanbutton:hover {
    background:#3C6EB6;
    background-image:none;
}
.drawtools span, .drawtools img {
    border:none;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    padding:5px;
    background-color:#999;
}
.drawtools span:hover, .drawtools img:hover {
    background-color:#666;
}
.drawtools span {
    font:normal 12px/15px Helvetica, Arial, sans-serif;
    padding:5px 15px;
    color:#fff;
    display:inline-block;
    zoom:1;
    height:14px;
}
.drawtools img {
    margin-right:5px;
}
.drawtools span.sel, .drawtools span:active, .drawtools img.sel, .drawtools img:active {
    background:#666;
    border:none;
}
div#viewbuttoncont {
    margin-top: 5px;
    float: right;
    background:none;
}
div#viewbuttoncont a, ul.buttonlist li a, ul.buttonlist li input {
    border-right:1px solid #fff;
    margin:0;
}
div#viewbuttoncont a:last-child {
    border-right:none;
}
div#viewbuttoncont a.buttonactive, ul.buttonlist li a.buttonactive {
    background: #333 url(../img/current.gif) repeat-x 0 0;
    cursor: default;
}
ul.buttonlist {
    list-style-type:none;
    padding:0;
    display:inline;
    margin:5px 0;
}
ul.buttonlist li {
    display:inline;
}
ul.buttonlist li input {
    -moz-border-radius:0;
    -webkit-border-radius:0;
    margin:0;
}
ul.buttonlist li:first-child input, ul.buttonlist li:first-child a {
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-topleft:15px;
    -webkit-border-bottom-left-radius:15px;
    -webkit-border-top-left-radius:15px;
}
ul.buttonlist li:last-child input, ul.buttonlist li:last-child a {
    -moz-border-radius-bottomright:15px;
    -moz-border-radius-topright:15px;
    -webkit-border-bottom-right-radius:15px;
    -webkit-border-top-right-radius:15px;
    border-right:none;
}
div.pagetitle h2 {
    margin:10px 0;
}
div.title {
    margin-left: 50px;
    font-family:Helvetica, Arial, sans-serif;
}
div.title h3 {
    margin:0;
}
div.title, div.title a {
    color:#3C6EB6;
}
div.title a:hover {
    background-color:#3C6EB6;
    color:#fff;
}
div.block div.title {
    margin-left:0;
}
div.block img {
    margin-right:10px;
}
div.itemsum {
    margin-left: 50px;
}
div#headerrightlinks {
    font-family:Helvetica, Arial, sans-serif;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    color:#FFFFFF;
}
div#headerrightlinks a {
    color: #F93;
}
div#headerrightlinks a:hover {
    color: #fff;
    background-color:#f93;
    text-shadow:none;
}
.buttoncurveleft {
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-topleft:15px;
    -webkit-border-bottom-left-radius:15px;
    -webkit-border-top-left-radius:15px;
}
.buttoncurveright {
    -moz-border-radius-bottomright:15px;
    -moz-border-radius-topright:15px;
    -webkit-border-bottom-right-radius:15px;
    -webkit-border-top-right-radius:15px;
}
input[type="submit"], input[type="button"] {
    background-color: #999;
    border:none;
    cursor:pointer;
    padding:4px 15px;
    color: #fff;
    border-radius: 0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    margin:5px 0;
    height:auto;
}
input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #666;
}
fieldset {
    margin:0 0 10px 0;
    padding:5px 10px 10px 10px;
}
fieldset ul {
    padding:0;
    list-style-type:none;
    margin:0;
}
fieldset.invisible {
    padding:0;
    border:none;
    display:block;
    margin:0;
}
fieldset.invisible legend {
    display:none;
}
a.newnote, ul.courselist li a.newnote, span.newnote, .title a.newnote {
    font-weight:bold;
    color:#EB6F00;
}
a.newnote:hover, ul.courselist li a.newnote:hover {
    color:#fff;
    background-color:#eb6f00;
}
ul.fileattachlist {
    list-style-image: url(../img/icon_attach.png);
    margin: 5px 0;
}
#insert, #cancel {
    color: #000;
}
#GB_caption {
    font-family:Helvetica, Arial, sans-serif;
}
#GB_caption .pointer {
    background-color:#fff;
    color:#3C6EB6;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    display:inline-block;
    zoom:1;
    line-height:1;
    padding:5px 6px 2px;
}
#GB_caption .pointer {
    font-weight:bold;
}
#GB_caption .floatright {
    float:right;
}
legend {
    font-family:Helvetica, Arial, sans-serif;
}
table.forum td {
    border:1px solid #999;
    padding: 0.2em 0.5em;
}
table.forum tr.tagged {
    background-color:#cce0ee;
}
table.forum img {
    margin-right:5px;
    vertical-align:top;
}
div.quickview_options {
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll left top;
    padding:5px 10px;
    margin-top:10px;
    border:1px solid #999;
}
.invisible {
    display:none;
}
ul.right {
    float:right;
}
div.message_content {
    padding:10px;
    margin:10px 0;
    border:1px solid #999;
}
#tblcontmyTable thead {
    border:none;
}
.ehdd, .eh, #ee, .eedd {
    background-color:#09c;
}
.ehdd, .eh {
    background-color:#ED8C34;
    font:85% normal Helvetica, Arial, sans-serif;
    padding:5px;
}
.eedd {
    border:2px solid #09c;
}
table.stats {
    background:#eee;
}
table.stats thead th {
    font-style:italic;
    background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
}

/*--------------------- MINI CALENDAR SELECTOR ------------------------*/
.dpTable {
    background-color:#eee;
    border-color:#999 #666;
    border-style:solid;
    border-width:1px 2px 2px 1px;
    color:#333;
}
.dpTitleTR {
    background-color:#3C6EB6;
    font-family:Helvetica, Arial, sans-serif;
    color:#fff;
    border:1px solid #3C6EB6;
}
.dpDayTD {
    font-family:Helvetica, Arial, sans-serif;
    border:none;
    border-bottom:1px solid #999;
}
.dpTR {
    border-right:1px solid #999;
    border-left:1px solid #999;
}
.dpTD {
    border:none;
}
.dpTDHover {
    background-color:#fff;
    border:none;
    color:#f93;
}
.dpDayHighlightTD {
    background-color:#ccc;
    border:1px solid #999;
}
.dpDayHighlight {
    color:#3C6EB6;
}
.dpButton, .dpTodayButton {
    border:none;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}
.dpTodayButton {
    color:#fff;
    background-color:#3C6EB6;
    padding:4px 15px;
    font-weight:normal;
}
.dpTodayButton:hover {
    background-color:#036;
}
.dpButton {
    color:#3C6EB6;
    background-color:#fff;
    padding:0 4px;
}
.dpButton:hover {
    font-weight:bold;
}

/*--------------------- CUSTOMIZABLE BLOCK STYLES ------------------------*/
div.pinkblock, div.blockitems div.blockitems div.pinkblock, div.blockitems div.pinkblock {
    background: #cb9ac6 url(../img/pink_gradient.gif) repeat-x center top;
    border:1px solid #c69;
}
div.pinkblockitems, div.blockitems div.blockitems div.pinkblockitems, div.blockitems div.pinkblockitems {
    background-color: #fcf;
    border:1px solid #c69;
    border-top:none;
}
div.pinkblockitems div.additembox, div.blockitems div.blockitems div.pinkblockitems div.additembox {
    background-color: #c9c;
    border:1px solid #c69;
}
div.pinkblockitems table.cal th, div.pinkblockitems table.cal td, div.pinkblockitems .calbottom {
    border:1px solid #c69;
}
div.pinkblockitems div.item, div.blockitems div.blockitems div.pinkblockitems div.item {
    border-bottom:1px solid #c69;
}
div.redblock, div.blockitems div.blockitems div.redblock, div.blockitems div.redblock {
    background: #f99 url(../img/red_gradient.gif) repeat-x center top;
    border:1px solid #c66;
}
div.redblockitems, div.blockitems div.blockitems div.redblockitems, div.blockitems div.redblockitems {
    background-color: #fcc;
    border:1px solid #c66;
    border-top:none;
}
div.redblockitems div.additembox, div.blockitems div.blockitems div.redblockitems div.additembox {
    background-color: #f99;
    border:1px solid #c66;
}
div.redblockitems table.cal th, div.redblockitems table.cal td, div.redblockitems .calbottom {
    border:1px solid #c66;
}
div.redblockitems div.item, div.blockitems div.blockitems div.redblockitems div.item {
    border-bottom:1px solid #c66;
}
div.orangeblock, div.blockitems div.blockitems div.orangeblock, div.blockitems div.orangeblock {
    background: #f96 url(../img/orange_gradient.gif) repeat-x center top;
    border:1px solid #c63;
}
div.orangeblockitems, div.blockitems div.blockitems div.orangeblockitems, div.blockitems div.orangeblockitems {
    background-color: #fc9;
    border:1px solid #c63;
    border-top:none;
}
div.orangeblockitems div.additembox, div.blockitems div.blockitems div.orangeblockitems div.additembox {
    background-color: #f96;
    border:1px solid #c63;
}
div.orangeblockitems table.cal th, div.orangeblockitems table.cal td, div.orangeblockitems .calbottom {
    border:1px solid #c63;
}
div.orangeblockitems div.item, div.blockitems div.blockitems div.orangeblockitems div.item {
    border-bottom:1px solid #c63;
}
div.yellowblock, div.blockitems div.blockitems div.yellowblock, div.blockitems div.yellowblock {
    background: #FFCD05 url(../img/yellow_gradient.gif) repeat-x center top;
    border:1px solid #fc0;
}
div.yellowblockitems, div.blockitems div.blockitems div.yellowblockitems, div.blockitems div.yellowblockitems {
    background-color: #ff9;
    border:1px solid #fc0;
    border-top:none;
}
div.yellowblockitems div.additembox, div.blockitems div.blockitems div.yellowblockitems div.additembox {
    background-color: #ff6;
    border:1px solid #fc0;
}
div.yellowblockitems table.cal th, div.yellowblockitems table.cal td, div.yellowblockitems .calbottom {
    border:1px solid #fc0;
}
div.yellowblockitems div.item, div.blockitems div.blockitems div.yellowblockitems div.item {
    border-bottom:1px solid #fc0;
}
div.greenblock, div.blockitems div.blockitems div.greenblock, div.blockitems div.greenblock {
    background: #6fc067 url(../img/green_gradient.gif) repeat-x center top;
    border:1px solid #6c3;
}
div.greenblockitems, div.blockitems div.blockitems div.greenblockitems, div.blockitems div.greenblockitems {
    background-color: #cfc;
    border:1px solid #6c3;
    border-top:none;
}
div.greenblockitems div.additembox, div.blockitems div.blockitems div.greenblockitems div.additembox {
    background-color: #6c6;
    border:1px solid #6c3;
}
div.greenblockitems table.cal th, div.greenblockitems table.cal td, div.greenblockitems .calbottom {
    border:1px solid #6c3;
}
div.greenblockitems div.item, div.blockitems div.blockitems div.greenblockitems div.item {
    border-bottom:1px solid #6c3;
}
div.tealblock, div.blockitems div.blockitems div.tealblock, div.blockitems div.tealblock {
    background: #9cc url(../img/teal_gradient.gif) repeat-x center top;
    border:1px solid #39c;
}
div.tealblockitems, div.blockitems div.blockitems div.tealblockitems, div.blockitems div.tealblockitems {
    background-color: #cff;
    border:1px solid #39c;
    border-top:none;
}
div.tealblockitems div.additembox, div.blockitems div.blockitems div.tealblockitems div.additembox {
    background-color: #9cc;
    border:1px solid #39c;
}
div.tealblockitems table.cal th, div.tealblockitems table.cal td, div.tealblockitems .calbottom {
    border:1px solid #39c;
}
div.tealblockitems div.item, div.blockitems div.blockitems div.tealblockitems div.item {
    border-bottom:1px solid #39c;
}
div.blueblock, div.blockitems div.blockitems div.blueblock, div.blockitems div.blueblock {
    background: #69c url(../img/blue_gradient.gif) repeat-x center top;
    border:1px solid #3C6EB6;
    color:#036;
}
div.blueblockitems, div.blockitems div.blockitems div.blueblockitems, div.blockitems div.blueblockitems {
    background-color: #9cf;
    border:1px solid #3C6EB6;
    border-top:none;
}
div.blueblockitems div.additembox, div.blockitems div.blockitems div.blueblockitems div.additembox {
    background-color: #69c;
    border:1px solid #3C6EB6;
}
div.blueblockitems table.cal th, div.blueblockitems table.cal td, div.blueblockitems .calbottom {
    border:1px solid #3C6EB6;
}
div.blueblockitems div.item, div.blockitems div.blockitems div.blueblockitems div.item {
    border-bottom:1px solid #3C6EB6;
}
div.blueblock a, div.blueblockitems a, div.blueblockitems div.additembox a, div.blueblock div.title, div.blueblockitems div.title, div.blueblockitems h3 {
    color:#036;
}
div.purpleblock, div.blockitems div.blockitems div.purpleblock, div.blockitems div.purpleblock {
    background: #9595c9 url(../img/purple_gradient.gif) repeat-x center top;
    border:1px solid #669;
}
div.purpleblockitems, div.blockitems div.blockitems div.purpleblockitems, div.blockitems div.purpleblockitems {
    background-color: #ccf;
    border:1px solid #669;
    border-top:none;
}
div.purpleblockitems div.additembox, div.blockitems div.blockitems div.purpleblockitems div.additembox {
    background-color: #9595c6;
    border:1px solid #669;
}
div.purpleblockitems table.cal th, div.purpleblockitems table.cal td, div.purpleblockitems .calbottom {
    border:1px solid #669;
}
div.purpleblockitems div.item, div.blockitems div.blockitems div.purpleblockitems div.item {
    border-bottom:1px solid #669;
}
div.brownblock, div.blockitems div.blockitems div.brownblock, div.blockitems div.brownblock {
    background: #996 url(../img/brown_gradient.gif) repeat-x center top;
    border:1px solid #663;
}
div.brownblockitems, div.blockitems div.blockitems div.brownblockitems, div.blockitems div.brownblockitems {
    background-color: #cc9;
    border:1px solid #663;
    border-top:none;
}
div.brownblockitems table.cal th, div.brownblockitems table.cal td, div.brownblockitems .calbottom {
    border:1px solid #663;
}
div.brownblockitems div.additembox, div.blockitems div.blockitems div.brownblockitems div.additembox {
    background-color: #999965;
    border:1px solid #663;
}
div.brownblockitems div.item, div.blockitems div.blockitems div.brownblockitems div.item {
    border-bottom:1px solid #663;
}
div.blackblock, div.blockitems div.blockitems div.blackblock, div.blockitems div.blackblock {
    background: #333 url(../img/black_gradient.gif) repeat-x center top;
    border:1px solid #333;
    color:#fff;
}
div.blackblockitems, div.blockitems div.blockitems div.blackblockitems, div.blockitems div.blackblockitems {
    background-color: #999;
    border:1px solid #333;
    color:#fff;
    border-top:none;
}
div.blackblockitems div.additembox, div.blockitems div.blockitems div.blackblockitems div.additembox {
    background-color: #666;
    border:1px solid #333;
}
div.blackblockitems div.item, div.blockitems div.blockitems div.blackblockitems div.item {
    border-bottom:1px solid #333;
}
div.blackblock a, div.blackblockitems a, div.blackblockitems div.additembox a, div.blackblock div.title, div.blackblockitems div.title, div.blackblockitems h3 {
    color:#fff;
}
div.blackblock a:hover, div.blackblockitems a:hover {
    background-color:#fff;
    color:#333;
}
div.blackblockitems div.additembox a:hover, div.blackblockitems .right a:hover {
    background:none;
}
div.blackblockitems table.cal, div.blackblockitems #caleventslist, div.blackblockitems .right a {
    color:#333;
}
div.blackblockitems table.cal th, div.blackblockitems table.cal td, div.blackblockitems .calbottom {
    border:1px solid #333;
}
div.blackblockitems .calbottom {
    background-color:#ccc;
}
.calbottom {
    border:1px solid #999;
    padding:10px;
    margin-top:10px;
}


/*--------------------- XYZ Complete Courses -----------------------*/
/*
Prealgebra
    toolbar color: EACACF
    border color: 8E2051
    light background color: FFFFFF
*/
div.xyz-cc1-block, div.blockitems div.blockitems div.xyz-cc1-block, div.blockitems div.xyz-cc1-block {
    background: #EACACF url(../img/xyz_cc1_gradient.png) repeat-x center top;
    border:1px solid #8E2051;
}
div.xyz-cc1-blockitems, div.blockitems div.blockitems div.xyz-cc1-blockitems, div.blockitems div.xyz-cc1-blockitems {
    background-color: #FFFFFF;
    border:1px solid #8E2051;
    border-top:none;
}
div.xyz-cc1-blockitems div.additembox, div.blockitems div.blockitems div.xyz-cc1-blockitems div.additembox {
    background-color: #EACACF;
    border:1px solid #8E2051;
}
div.xyz-cc1-blockitems table.cal th, div.xyz-cc1-blockitems table.cal td, div.xyz-cc1-blockitems .calbottom {
    border:1px solid #8E2051;
}
div.xyz-cc1-blockitems a, div.xyz-cc1-block div.title, div.xyz-cc1-blockitems div.title {
    color:#EACACF;
}
div.xyz-cc1-blockitems div.item a, div.xyz-cc1-block div.item div.title, div.xyz-cc1-blockitems div.item div.title {
    color:#8E2051;
}
div.xyz-cc1-blockitems div.item div.xyz-cc1-block div.title {
    color:#EACACF;
}
div.xyz-cc1-blockitems div.item div.xyz-cc1-block div.title a {
    color:#FFFFFF;
}
div.xyz-cc1-block a, div.xyz-cc1-blockitems h3 span.pointer a, div.xyz-cc1-blockitems span.right a {
    color:#FFFFFF;
}
div.xyz-cc1-blockitems div.additembox a, div.xyz-cc1-blockitems h3 {
    color:#8E2051;
}
div.xyz-cc1-blockitems div.xyz-cc1-blockitems h3:first-child  a {
    color:#8E2051;
}
div.xyz-cc1-blockitems a:hover, div.xyz-cc1-blockitems div.item a:hover, div.xyz-cc1-blockitems div.item div.xyz-cc1-block div.title a:hover, div.xyz-cc1-block a:hover, div.xyz-cc1-blockitems h3 span.pointer a:hover, div.xyz-cc1-blockitems span.right a:hover, div.xyz-cc1-blockitems div.additembox a:hover, div.xyz-cc1-blockitems div.xyz-cc1-blockitems h3:first-child  a:hover {
    background:none;
}

/*
College Algebra
    toolbar color: B3C3E3
    border color: 03618F
    light background color: FFFFFF
*/
div.xyz-cc2-block, div.blockitems div.blockitems div.xyz-cc2-block, div.blockitems div.xyz-cc2-block {
    background: #B3C3E3 url(../img/xyz_cc2_gradient.png) repeat-x center top;
    border:1px solid #03618F;
}
div.xyz-cc2-blockitems, div.blockitems div.blockitems div.xyz-cc2-blockitems, div.blockitems div.xyz-cc2-blockitems {
    background-color: #FFFFFF;
    border:1px solid #03618F;
    border-top:none;
}
div.xyz-cc2-blockitems div.additembox, div.blockitems div.blockitems div.xyz-cc2-blockitems div.additembox {
    background-color: #B3C3E3;
    border:1px solid #03618F;
}
div.xyz-cc2-blockitems table.cal th, div.xyz-cc2-blockitems table.cal td, div.xyz-cc2-blockitems .calbottom {
    border:1px solid #03618F;
}
div.xyz-cc2-blockitems a, div.xyz-cc2-block div.title, div.xyz-cc2-blockitems div.title {
    color:#B3C3E3;
}
div.xyz-cc2-blockitems div.item a, div.xyz-cc2-block div.item div.title, div.xyz-cc2-blockitems div.item div.title {
    color:#03618F;
}
div.xyz-cc2-blockitems div.item div.xyz-cc2-block div.title {
    color:#B3C3E3;
}
div.xyz-cc2-blockitems div.item div.xyz-cc2-block div.title a {
    color:#FFFFFF;
}
div.xyz-cc2-block a, div.xyz-cc2-blockitems h3 span.pointer a, div.xyz-cc2-blockitems span.right a {
    color:#FFFFFF;
}
div.xyz-cc2-blockitems div.additembox a, div.xyz-cc2-blockitems h3 {
    color:#03618F;
}
div.xyz-cc2-blockitems div.xyz-cc2-blockitems h3:first-child  a {
    color:#03618F;
}
div.xyz-cc2-blockitems a:hover, div.xyz-cc2-blockitems div.item a:hover, div.xyz-cc2-blockitems div.item div.xyz-cc2-block div.title a:hover, div.xyz-cc2-block a:hover, div.xyz-cc2-blockitems h3 span.pointer a:hover, div.xyz-cc2-blockitems span.right a:hover, div.xyz-cc2-blockitems div.additembox a:hover, div.xyz-cc2-blockitems div.xyz-cc2-blockitems h3:first-child  a:hover {
    background:none;
}


/*--------------------- MASS CHANGE DATES -----------------------*/
table.masschgdates img.toggle {
    cursor:pointer;
    vertical-align:middle;
    padding:2px;
    margin-right:5px;
}
table.masschgdates .show {
    display:-moz-inline-stack;
    display:inline-block;
    vertical-align:middle;
    zoom: 1;
        *display: inline;
}
.hide {
    display:none;
}
.shortday {
    font:bold 100% Helvetica, Arial, sans-serif;
}



/*--------------------- ALERTS -----------------------*/
.alert {
    width:980px;
    margin:auto;
    margin-top:8px;
    margin-bottom:8px;
    border:1px solid red;
    padding:10px;
    clear:both;
}
.alert p {
    margin:3px 0 3px 0;
    padding:0;
    font-size:14px;
    color:red;
    font-weight:bold;
    text-align:center;
}

div.footer_warning {
    background:red;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    width:960px;
    margin:auto;
    padding:10px 20px 10px 20px;
    }
    div.footer_warning a {
        color:#FFFFFF;
        }
/*--------------------- STATIC TIPS IN DISPLAYQ2 -----------------------*/
div.tips-static {
    width:60%;
    margin:auto;
    margin-top:12px;
    margin-bottom:12px;
    padding:6px;
    border: 1px solid #EF9848;
    background-color:#FCE1C5;
    }
    div.tips-static h4 {
    background-color:#EF9848;
    text-align:center;
    color:#FFFFFF;
    margin:0 0 6px 0;
    padding:3px;
    letter-spacing:.25em;
    font-size:12px;
    line-height:100%;
    }
    div.tips-static p {
        font-size:13px;
        }
        
/*--------------------- misc -----------------------*/
span.required {
    color:red;
    font-size:14px;
    }
    
span.AMedit {
    border:1px solid red;
    }


/* video player */
img.youtube_video_poster:hover {
    cursor: pointer;
}

a.minimize_video_link {
    font-size:12px;
    text-decoration:none;
}

a.minimize_video_link:hover {
    text-decoration: underline;
}

/* fix mcedit opoups display */
.panel_wrapper * {
    line-height:100%;
}
